
.scroll-bg{
    width: 1400px;
    margin-left:300px ;
    background-color: aqua;
    margin-top: '4000px';
  }
  .scroll-div{
    width:400 px;
    height: 300px;
    overflow:hidden;
    overflow-y: scroll;
    margin-top: 20px;
  }
  .scroll-bg1{
    width: 1400px;
  
    margin: 10% auto;
    background-color: aqua;
  
    margin-left: 300px;
    margin-top: 15px;
  }
  .scroll-div1{
    width:400 px;
    height: 300px;
    overflow:hidden;
    overflow-y: scroll;
  }
  .butoaneFormular{
    margin-left: 130px;
    margin-top:  10px;

  }
  .browse-form{
    margin-top: 600px;
    
  }

.butoaneSubmissions{
  margin-left: 510px;
  margin-bottom:100px ;
}
